<title>Synonyms Crawler</title>

<link rel='stylesheet' 
    href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css' />
<link rel='stylesheet' 
    href='https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css' />

<link rel='stylesheet' href='css/d3_tree.css' />
<link rel='stylesheet' href='css/layout.css' />
<link rel='stylesheet' href='css/progress_bar.css' />
<link rel='stylesheet' href='css/alert_dialog.css' />