<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs %>
  </head>

  <body>
  	<% include ../partials/synonyms-crawler-form.ejs %>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
